<article class="sidebar">
  <h1 class="sidebar-title">Lorem Ipsum?</h1>
  <ul class="sidebar-body">
    <li>Lorem ipsum dolor ea</li>
    <li>Duis aute irure dolor in...</li>
    <li>Fugiat nulla pariatur</li>
  </ul>
</article><!-- article -->
